/.git
/.project
/Build
/Index
/screenshots
**/.DS_Store
*.xcuserstate
xcuserdata
/fastlane/Build_Files
/Gemfile.lock
/fastlane/report.xml
/___Test_build_script.sh
/_Jenkins_build_log.txt
/_Jenkins_Output
*.xcbkptlist
IDEWorkspaceChecks.plist

#CocoaPods
Pods

IDEFindNavigatorScopes.plist
